@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background-color: hsl(257, 40%, 49%);
  margin: 0;
  padding: 0;
  background-image: url("../../images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 132px;
  padding-top: 60px;
  padding-left: 60px;
}

section {
  display: flex;
  padding-left: 75px;
}

.section-description {
  margin-left: 75px;
  margin-right: 60px;
}

section p,
h1 {
  font-family: "Poppins", Arial;
  color: rgb(252, 252, 252);
}

h1 {
  font-size: 45px;
}

.register-button {
  border-radius: 50px;
  text-align: center;
  font-size: 15px;
  height: 40px;
  width: 200px;
  color: hsl(257, 40%, 49%);
  font-family: "Poppins", Arial;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: hsl(257, 33%, 36%);
  color: white;
}

footer nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

footer nav li img {
  margin-right: 20px;
  padding: 12px;
  border: 1px solid white;
  border-radius: 45%;
  cursor: pointer;
  width: 20px;
}

@media screen and (max-width: 1023px) {
  body {
    margin: 0;
    padding: 0;
    background-image: url("../../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  section img {
    height: 230px;
    width: 280px;
  }
  header {
    height: 100px;
    padding-top: 60px;
    padding-left: 60px;
  }
  nav img {
    height: 42px;
  }

  section {
    flex-direction: column;
    padding-left: 41px;
  }
  h1 {
    font-size: 26px;
  }
  p {
    font-size: 15px;
    text-align: center;
  }
  .section-description {
    margin-left: 33px;
    margin-right: 100px;
    text-align: center;
  }

  footer nav ul {
    justify-content: center;
  }

  footer nav li img {
    margin-right: 20px;
    padding: 8px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    width: 16px;
    height: 21px;
  }

  footer {
    margin-top: 38px;
    margin-right: 60px;
  }
}
